body {
    background-image: url(../images/bgpony.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

#style {
    background-image: url(../images/trainbanner2.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: hotpink;
    font-weight: 400;
    font-family: 'Baloo Bhaijaan', cursive;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}

h2 {
    color: hotpink;
    font-weight: 400;
    font-family: 'Baloo Bhaijaan', cursive;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .2px;
}

.card-header {
    background: hotpink;
    font-family: 'Baloo Bhaijaan', cursive;
    color: palegreen;
}

::placeholder {
    color: red;
}